<header>
    <link rel="stylesheet" href="/css/header.css">
    <nav class="navbar">
        <ul>
            <li>
                <h1>
                    <a href="/"> Codeial</a>
                </h1>
            </li>
        </ul>
        <ul>

            <% if(locals.user) { %>
                <li>
                    <a href="/users/profile">
                        <%= user.name %>
                    </a>
                    <a href="/users/sign-out">Sign out</a>
                </li>
                <% } else { %>
                    <li> <a href="/users/sign-in">Sign in</a></li>
                    <li> <a href="/users/sign-up">Sign up</a></li>
                    <% } %>
        </ul>
    </nav>
</header>