<link rel="stylesheet" href="../css/home.css">

<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user) { %>
            <div>
                <form action="/posts/add-new-post" method="post" id="new-post-form">
                    <div>
                        <textarea name="content" id="" cols="30" rows="3" placeholder="post..."></textarea>
                    </div>
                    <div>
                        <button type="submit">Post</button>
                    </div>
                </form>
            </div>
            <% } %>
                <div id="post-list-container">
                    <ul>
                        <% for(post of posts) { %>
                            <%- include('_post.ejs') %>
                                <% } %>
                                    </>
                    </ul>
    </section>

    <section id="user-friends">
        <ul>
            <li>
                <h4>Friends</h4>
            </li>
            <% for(user of users) { %>
                <li>
                    <a href="/users/profile/<%= user.id %>">
                        <%= user.name %>
                    </a>
                </li>
                <% } %>
        </ul>
    </section>
    </div>
    <script src="/js/home_post.js"></script>