<h1>
    Sign up
</h1>

<form action="/users/create-user" method="post">
    <input type="text" name="name" id="name">
    <input type="email" name="email" id="email" placeholder="@gmail.com">
    <input type="password" name="password" id="password" placeholder="password">
    <input type="password" name="confirm_password" id="confirm_password" placeholder="password">
    <button type="submit">Register</button>
    <button>Cancel</button>
</form>